@page
@model CleanUpIndia.Pages.About_USModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>
</head>
<body>

    <script src="https://kit.fontawesome.com/c0a9bbf986.js" crossorigin="anonymous"></script>


</body>
</html>

